body{
    margin: 0;
    font-family: Tahoma;
}

.header{
    padding-top: 77px;
    padding-bottom: 96px;
}
.header-text{
    padding-left: 20px;
}

.header-text__title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 15px;
    
}

.header-text__subtitle{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.header-text__descr{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 47px;
}

.header-text__price{
    font-size: 48px;
    font-weight: 400;
    color: #313131;
    margin-bottom: 53px;
}

.button{
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    border: 3px solid #f05a22;
    background-color: #f05a22;
    padding: 22px 43px;
    color: #ffffff;
    margin-right: 40px;
    margin-bottom: 20px;
}

.button-o{
    background-color: #ffffff;
    color: #f05a22;
}

.features{
    background-color: #f2f2f2;
    padding-top: 99px;
    padding-bottom: 89px;
}

.section-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 75px;
}

.features-block{
    text-align: center;
    margin-bottom: 20px;
}

.features-img{
    min-height: 50px;
    margin-bottom: 20px;
}

.features-text{
    font-size: 18px;
    font-weight: 400;
}

.clients{
    padding-top: 89px;
    padding-bottom: 100px;
    text-align: center;
}

.clients-img{
    margin-right: 30px;
    margin-bottom: 40px;
    max-width: 255px; 
}
